@{
    ViewBag.Title = "Error";
}

<div style="background-color: #A52A2A; color: white; height: 10px;"></div>
<div style="background-color: #F5F5DC; color: white; height: 170px">
    <div style="padding: 20px;">
        <h3>Sorry, application ERROR</h3>
        <h4>Some errors occured while your data request</h4>
        <h6>@Html.ActionLink("Back to Home Page", "Index", "Home")</h6>
        <hr />
    </div>
</div>
<div style="background-color: #A52A2A; color: white; height: 10px;"></div>