<html>
    <table>
        <tr>
            <td>|@Html.ActionLink("Home", "Index", "Home")</td>
            <td>|@Html.ActionLink("City", "Index", "City")</td>
            <td>|@Html.ActionLink("Country", "Index", "Country")</td>
        </tr>
    </table>
<hr />
@RenderBody()
<hr />
<p>Wellcome to my first ASP.NET Core Project! (@DateTime.Now)</p>
</html>